pymongo==4.2.0
monty==2022.4.26
mongomock==4.0.0
pydash==5.1.0
jsonschema==4.9.0
tqdm==4.64.0
mongogrant==0.3.3
aioitertools==0.10.0
pydantic==1.9.1
fastapi==0.79.0
numpy==1.21.0;python_version>"3.6"
pyzmq==24.0.1
dnspython==2.2.1
uvicorn==0.18.2
sshtunnel==0.4.0
msgpack==1.0.3
msgpack-python==0.5.6
orjson==3.7.11
boto3==1.24.42
