pymongo==4.0
monty==2021.7.8
mongomock==3.22.1
pydash==4.9.3
jsonschema==3.2.0
tqdm==4.62.1
mongogrant==0.3.1
aioitertools==0.7.1
pydantic==1.8.2
fastapi==0.65.2
numpy==1.19.5;python_version<"3.7"
numpy==1.21.0;python_version>"3.6"
pynng==0.5.0
dnspython==2.1.0
uvicorn==0.13.4
sshtunnel==0.4.0
msgpack==1.0.2
msgpack-python==0.5.6
orjson==3.6.0
