name: testing

on:
  push:
    branches:
      - main
    paths-ignore:
      - 'docs/CHANGELOG.md'

  pull_request:
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python 3.7
      uses: actions/setup-python@v2.3.1
      with:
        python-version: 3.7

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install -r requirements-testing.txt

    - name: Lint with pycodestyle
      run: |
        pip install pycodestyle
        pycodestyle src/maggma

    - name: Lint with mypy
      run: |
        pip install mypy mypy-boto3
        mypy src/maggma

    - name: Lint with flake8
      run: |
        pip install flake8
        # stop the build if there are Python syntax errors or undefined names
        flake8 --count --show-source --statistics src/maggma
        # exit-zero treats all errors as warnings.
        flake8 --count --exit-zero --max-complexity=20 --statistics src/maggma

  test:
    services:
      local_mongodb:
        image: mongo:4.0
        ports:
          - 27017:27017

    strategy:
      max-parallel: 6
      matrix:
        os: [ubuntu-latest]
        python-version: [3.6, 3.7, 3.8]

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2.3.1
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install Python dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install -r requirements-testing.txt
        pip install -r requirements-optional.txt

    - name: Test with pytest
      env:
        CONTINUOUS_INTEGRATION: True
        MONGODB_SRV_URI: ${{ secrets.MONGODB_SRV_URI }}
      run: |
        pip install -e .
        pytest --cov=maggma --cov-report=xml
    - uses: codecov/codecov-action@v2.1.0
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        file: ./coverage.xml

  docs:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - uses: actions/setup-python@v2.3.1
      with:
        python-version: 3.8

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -e .
        pip install -r requirements-optional.txt
        pip install -r requirements-docs.txt

    - name: Build
      run: mkdocs build
  
